<ion-grid class="o-grid">
  <form class="c-form" [formGroup]="editCategoryForm" (ngSubmit)="updateCategory()">

    <!-- Title -->
    <ion-row>
      <ion-col class="c-form-group" [ngClass]="editCategoryForm.get('title').valid ? 'is-valid' : ''">
        <ion-label for="title" position="fixed">Title: <abbr title="Campo obligatorio">*</abbr></ion-label>
        <ion-input id="title" name="title" formControlName="title"></ion-input>
        <ion-icon name="checkmark-circle-outline" *ngIf="editCategoryForm.get('title').valid"></ion-icon>
      </ion-col>
    </ion-row>

    <!-- Description -->
    <ion-row>
      <ion-col class="c-form-group" [ngClass]="editCategoryForm.get('description').valid ? 'is-valid' : ''">
        <ion-label for="description" position="fixed">Description: <abbr title="Campo obligatorio">*</abbr></ion-label>
        <ion-input id="description" name="description" formControlName="description"></ion-input>
        <ion-icon name="checkmark-circle-outline" *ngIf="editCategoryForm.get('description').valid"></ion-icon>
      </ion-col>
    </ion-row>

    <!-- Type -->
    <ion-row>
      <ion-col class="c-form-group" [ngClass]="editCategoryForm.get('type').valid ? 'is-valid' : ''">
        <ion-label for="type" position="fixed">Type: <abbr title="Campo obligatorio">*</abbr></ion-label>
        <ion-input id="type" name="type" formControlName="type"></ion-input>
        <ion-icon name="checkmark-circle-outline" *ngIf="editCategoryForm.get('type').valid"></ion-icon>
      </ion-col>
    </ion-row>

    <!-- Image -->
    <ion-row>
      <ion-col class="c-form-group" [ngClass]="editCategoryForm.get('image').valid ? 'is-valid' : ''">
        <ion-label for="image" position="fixed">Image: <abbr title="Campo obligatorio">*</abbr></ion-label>
        <ion-img [src]="category.image" [alt]="category.title" *ngIf="(uploadProgress | async)!=100"></ion-img>
        <div class="c-form__dropzone">
          <ion-input id="image" type="file" name="image" formControlName="image" (change)="uploadFile($event)" accept=".jpg"></ion-input>
          <span>Drop files here <br>or <mark>Click to upload</mark></span>       
        </div>
        <div class="c-form__upload" *ngIf="uploadProgress | async as val">
          <ion-progress-bar [value]="val % 100"></ion-progress-bar>
          <ion-icon name="checkmark-circle-outline" *ngIf="editCategoryForm.get('image').valid && (uploadProgress | async)==100"></ion-icon>
        </div> 
        <img id="category-image" [src]="downloadURL | async" appImageFallback *ngIf="(uploadProgress | async)==100">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
        <ion-button expand="block" [disabled]="editCategoryForm.invalid" title="Update category" 
                    type="submit" class="ion-no-margin" *ngIf="isLoading === false">Update</ion-button>
        <ion-button expand="block" class="ion-no-margin  c-btn  c-btn--loading" *ngIf="isLoading === true" disabled>
          <ion-spinner name="crescent"></ion-spinner>
        </ion-button>       
      </ion-col>
    </ion-row>
    
  </form>
</ion-grid>