.o-header {
  
  ion-toolbar {
    --background: linear-gradient(to bottom, var(--ion-color-yellow) 0%, var(--ion-color-orange) 100%);
  }

  ion-buttons {
    margin-left: 0;

    ion-button {
      margin-left: -5px;
    }
  }

  ion-back-button,
  ion-icon {
    font-size: 1.2rem;
    color: var(--ion-color-primary-contrast); 
  }

  ion-icon {
    cursor: pointer;
    margin-right: 10px;
  }

  ion-title {
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0;
    padding-bottom: 0;
    color: var(--ion-color-primary-contrast); 
  }

}