@media only screen and (max-width: 767px) {

    .o-header {
        &--transparent {
            background: linear-gradient(to bottom, rgba(253, 200, 48, .65), rgba(243, 115, 53, .59));
            background-repeat: no-repeat;
            background-position: center top;
            background-size: cover;
            height: 220px;

            ion-back-button,
            ion-icon {
                margin-top: -170px;
            }
      
            ion-title {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 10px 11px;
                display: flex;
                align-items: flex-end;
                font-size: 1.1rem;
                box-sizing: border-box;
                text-align: left;
                text-transform: capitalize;
                letter-spacing: .04rem;
                background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 80%);
                color: var(--ion-color-primary-contrast);

                ion-icon {
                    cursor: default;
                    vertical-align: bottom;
                    margin-top: 0;
                    margin-right: 0;
                    font-size: 1.6rem;
                    color: var(--ion-color-orange);
                }

                span {
                    &:first-of-type {
                      font-size: 3.5rem;
                      margin-right: 8px;
                      line-height: 46px;
                      color: var(--ion-color-orange);
                    }

                    &:nth-of-type(2) {
                        display: inline-block;
                        vertical-align: top;
                        font-size: 1.4rem;

                        &::first-letter {
                            text-transform: uppercase;
                        }
                    }

                    &:nth-of-type(3) {
                        margin-left: -107px;
                        font-size: .9rem;
                    }
                }
            }
            
            ion-toolbar {
                height: 100%;
                --min-height: 100%;
                --background: transparent;
            }
        }
    }

}

@media only screen and (min-width: 768px) {
    ion-title {
        span {
            &:nth-of-type(2) {
                display: inline-block;
                text-transform: capitalize;
            }

            &:not(:last-of-type) {
                margin-right: 5px;
            }
        }
    }
}