<app-header title="Likes"></app-header>

<ion-content [fullscreen]="true">
  <section class="container-fluid">
    <ion-grid class="o-grid">
      <ion-row>
        <ion-col size="12">
          <app-counter [counter]="favoritesTotal" 
                       [text]="{ plural:'favorites', single: 'favorite' }" 
                       *ngIf="favoritesTotal > 0"></app-counter> 
        </ion-col>
      </ion-row>
      <ion-row *ngIf="favorites">
        <ion-col>
          <app-likes-list [allFavorites]="favorites" (OnDeleteLike)="deleteLike($event)"></app-likes-list>
          <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
  <app-tabs [active]="'likes'"></app-tabs>
</ion-content>
