/*==========================================================================*\
  +++ Grid +++
/*==========================================================================*/

.o-grid {

}

@media only screen and (min-width: 768px) {
  .o-grid {
    max-width: 750px;
  }
}

@media only screen and (min-width: 1025px) {
  .o-grid {
    max-width: 980px;
  }
}

@media only screen and (min-width: 1200px) {
  .o-grid {
    max-width: 1200px;
  }
}