<ion-segment [value]="tabsList[0]" (ionChange)="segmentChanged($event)">
  <ion-segment-button [value]="tab" *ngFor="let tab of tabsList">
    <ion-label>{{ tab }}</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-grid class="o-grid  u-nospace">
  <!--<ion-row>
    <ion-col size="12">
      <app-counter [counter]="allFavorites.length" [text]="{ plural:'favorites', single: 'favorite' }" *ngIf="allFavorites && allFavorites?.length > 0"></app-counter> 
    </ion-col>
  </ion-row>-->
  <ion-row>
    <ion-col class="u-nospace">
      <span class="c-message  c-message--error" *ngIf="currentTabActive === 'visits' && allFavorites?.length === 0">History empty.</span>
      <ion-list class="c-list  c-list--columns  c-list--light" *ngIf="currentTabActive === 'visits' && allFavorites">
        <ion-item lines="none" [title]="favorite.title" [href]="favorite.url" (click)="incrementCounter(favorite)" target="_blank" *ngFor="let favorite of allFavorites">
          <ion-avatar slot="start" [title]="favorite.slug">
            <img [src]="'assets/logos/' + categories.get(favorite.category_id) + '.jpg'" [alt]="categories.get(favorite.category_id)" appImageFallback>
          </ion-avatar>
          <ion-label>
            <h2>{{ favorite.title }}</h2>
            <em><ion-icon name="eye-outline"></ion-icon> <strong>{{ favorite.visits }}</strong> visits</em>
          </ion-label>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-item>
      </ion-list>

      <ion-list class="c-list--skeleton" *ngIf="currentTabActive === 'visits' && !allFavorites">
        <ion-item lines="none" *ngFor="let i of numItemsSkeleton | fill">
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <h2>
              <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
            </h2>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
      <div *ngIf="currentTabActive === 'logs'">
        <span class="c-message  c-message--error">Logs empty.</span>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

