<ion-list  class="c-list  c-list--timeline">
    <ion-card lines="none" [routerLink]="'/timeline/' + log.value[0].date.formatted.url" *ngFor="let log of allLogs | keyvalue">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-text>{{ log.value[0].date.year }}</ion-text>
        <ion-card-header>
            <ion-card-subtitle>{{ log.value[0].date.day.name }}</ion-card-subtitle>
            <ion-card-title [title]="log.key">
                {{ log.value[0].date.day.today }}
                {{ shortMonth(log.value[0].date.month.name) }}
            </ion-card-title>
        </ion-card-header>
    </ion-card>
</ion-list>

<span class="c-message  c-message--error" *ngIf="!allLogs && allLogs.length === 0">Logs empty.</span>
<app-skeleton *ngIf="allLogs.length === 0"></app-skeleton>