/*==========================================================================*\
  +++ Alerts +++
/*==========================================================================*/

ion-alert {
    --backdrop-opacity: var(--ion-backdrop-opacity, .52);
}

.c-alert {

    h2 {
        line-height: 1.5;
        text-align: center;
        font-size: 1.7rem !important;
        font-weight: lighter !important;
        padding-top: 42px !important;
        color: var(--ion-color-grey-dark);
    }

    button {
        color: var(--ion-color-tertiary);
    }

    .alert-wrapper {
        background: var(--ion-color-primary-contrast) !important;
    }

    .alert-message {
        font-size: 1.2rem;
        line-height: 1.3;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .alert-button-group {
        display: flex;
        justify-content: space-between !important;
        padding: 0;
        background: var(--ion-color-grey-medium);
    }
    
    .alert-button {
        letter-spacing: .04rem;
        margin-right: 0;
        padding: 14px;
        font-size: .85rem !important;
        border-radius: 0 !important;
        padding-left: 14px !important;
        padding-right: 14px !important;
        color: var(--ion-color-primary-contrast) !important;

        &.is-error {
            background: var(--ion-color-danger-tint);
        }

        &.is-success {
            background: var(--ion-color-success-tint);
        }
    }

    .alert-button-inner {
        justify-content: center;
    }

    &:not(.has-only-button) {

        .alert-button {
            width: 50%;
        }
    }

    &.has-only-button {

        .alert-button {
            width: 100%;
            display: block;
        }
    }
    
    &.has-before {
        
        h2 {
            &:first-child {
        
                &:before {
                    display: block;
                    font-size: 5rem;
                    font-weight: lighter;
                    margin: 0 auto 3rem;
                    line-height: 0;
                }
            }
        }
    }
    
    &--error {

        h2 {
            &:first-child {
                color: var(--ion-color-danger-tint);

                &:before {
                    content: "\26A0";
                }
            }
        }
    }

    &--success {
        h2 {
            &:first-child {
                color: var(--ion-color-success-tint);

                &:before {
                    content: "\2713";
                }
            }
        }
    }

    &--warning {
        h2 {
            &:first-child {
                color: var(--ion-color-orange);

                &:before {
                    content: "\26A0";
                }
            }
        }
    }

}

@media only screen and (min-width: 768px) {

    .c-alert {

        .alert-wrapper {
            min-width: 400px;
        }
    }

}