/**
 * Content file:
 *
 * $Animations
 * $Buttons
 * $Forms
 * $Icons
 * $Inputs
 * $Links
 *
 */

/*=======================================================================*\
  $Animations
/*=======================================================================*/

@keyframes changeWidth {
    0% { width: 100% }
    100% { width: 30% }
}

.c-btn--loading {
    transition: all .2s ease-in-out;
    animation-name: changeWidth;
    animation-duration: 200ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/*==========================================================================*\
  +++ Forms +++
/*==========================================================================*/

ion-input,
ion-select {
    font-size: .9rem;
    height: 38px;
}

ion-input[type="hidden"] {
    height: 0;
    padding: 0;
}

.c-form {

    ion-button {
        margin-left: auto;
        margin-right: auto;
        --background: var(--ion-color-brown);
    }

    ion-checkbox {
        margin-right: 6px !important;
        --background: transparent;
        --background-checked: var(--ion-color-orange);
        --border-color: #888;
        --border-color-checked: var(--ion-color-orange);
    }
    
    ion-label {
        font-size: .87rem;
        background: transparent !important;
        color: var(--ion-color-medium-shade);
    }

    ion-item {
        --background: var(--ion-color-primary-contrast);
        --background-activated: var(--ion-color-primary-contrast);
        --background-focused: var(--ion-color-primary-contrast);
        --background-hover: var(--ion-color-primary-contrast);
        --inner-padding-start: 0;
        --padding-start: 0;
        --min-height: auto;	

        &:hover {
            --background-hover: transparent;
        }
        
        ion-label {
            font-size: .87rem !important;
            color: var(--ion-color-medium-shade) !important;
        }
    }

    &.c-form--light {
        ion-input {
            background: rgba(0,0,0,.2);
            height: 50px;
            border-bottom-color: transparent; // var(--ion-color-primary-contrast)
            color: var(--ion-color-primary-contrast);
            --placeholder-color: #F4F5F8 !important;
            --padding-start: 3rem !important;
            --padding-end: 3rem !important;
            --padding-top: 22px;
        }
    }

    &:not(.c-form--light) {

        ion-input,
        ion-select,
        ion-textarea {
            font-size: .88rem;
            margin-top: .3rem;
            color: var(--ion-color-grey-dark);
            border-bottom-color: var(--ion-color-grey-medium);
            background-color: var(--ion-color-grey-medium);
            --padding-end: 2rem;
            --padding-start: .5rem !important;
            --padding-top: 1.4rem !important;
        }

        ion-textarea {
            line-height: 21px;
            --padding-top: .4rem !important;
        }

        ion-icon {
            &[name^="checkmark"] {
                bottom: 14px;
                right: 11px;
                top: auto;
                z-index: 10;
            }
        }

        ion-textarea + ion-icon {
            &[name^="checkmark"] {
                bottom: 32px;
            }
        }

    }

}

.c-form-group {
    width: 100%;
    position: relative;
    margin-bottom: 1.2rem;

    ion-input,
    ion-textarea {
        border: 0;
        border-radius: 0;
        --padding-bottom: 1.5rem !important;
        @extend :focus;
    
        &:focus {
            --ion-background-color: transparent;
        }

    }

    ion-input,
    ion-select,
    ion-textarea {
        border-bottom-style: solid;
        border-bottom-width: 2px;
    }

    ion-select {
        --padding-bottom: 1.2rem;
    }

    ion-icon {
        position: absolute;
        top: 18px;
        font-size: 1.25rem;
        
        &[name^="checkmark"] {
            right: 18px;
        }

        &:not([name^="checkmark"]) {
            left: 22px;
        }
    }

    &.is-valid {
        ion-input,
        ion-textarea {
            border-bottom-color: var(--ion-color-success);
        }
    }
}