/*==========================================================================*\
  +++ Icons +++
/*==========================================================================*/

ion-content {
    ion-icon {
        font-size: 1.4rem;
        &[name^="checkmark"] {
            color: var(--ion-color-success);
        }
        &:not([name^="checkmark"]) {
            color: var(--ion-color-brown);
        }
    }
}

ion-item-option {
    ion-icon {
        &:not([name^="checkmark"]) {
            color: var(--ion-color-primary-contrast);
        }
    }
}

.has-bgimage {
    ion-icon {
        &:not([name^="checkmark"]) {
            color: var(--ion-color-primary-contrast);
        }
    }
}

[name^="add-circle"],
[name^="chevron-back"],
[name^="ellipsis"] {
    cursor: pointer;
}