/*==========================================================================*\
  +++ Icons +++
/*==========================================================================*/

ion-content {
    ion-icon {
        font-size: 1.4rem;
        &[name^="checkmark"] {
            color: var(--ion-color-success);
        }
        &:not([name^="checkmark"]) {
            cursor: pointer;
            color: var(--ion-color-orange);
        }
    }
}

ion-item-option {
    ion-icon {
        &:not([name^="checkmark"]) {
            color: var(--ion-color-primary-contrast);
        }
    }
}

[name^="add-circle"],
[name^="chevron-back"],
[name^="ellipsis"] {
    cursor: pointer;
}

.c-icon--bigger {
    font-size: 1.7rem;
    position: fixed;
    bottom: 65px;
    right: 6px;
    z-index: 10;
    border-radius: 100%;
    padding: 7px;
    background: var(--ion-color-orange);
    color: var(--ion-color-primary-contrast) !important;
}

@media only screen and (min-width: 768px) {

    .c-icon--bigger {
        right: 10px;
    }

}