/*==========================================================================*\
  +++ Lists +++
/*==========================================================================*/

.c-list {
  margin: 0; // 0 .4rem 4rem
  padding-top: 0;
  background: transparent;

  ion-avatar {
    --border-radius: 0;
  }

  ion-avatar,
  ion-label {
    cursor: pointer;
  }

  em {
    font-size: .76rem;
    color: #858282;

    ion-icon {
      position: relative !important;
      right: auto !important;
      vertical-align: sub;
      font-size: .98rem;
      margin-right: 5px;
    }
  }

  ion-label {
    padding-right: 17px;
    box-sizing: border-box;

    h2 {
      font-size: .98rem;
      line-height: 19px;
      margin-bottom: 10px;
      color: black;
    }

    h2, 
    p {
      text-overflow: initial;
      white-space: initial;
    }

    p {
      font-size: .88rem;
      color: var(--ion-color-step-600, #666666);
    }
  }

  ion-item {
    position: relative;
    --background: var(--ion-color-primary-contrast);
    --background-activated: var(--ion-color-primary-contrast);
    --background-focused: var(--ion-color-primary-contrast);
    --background-hover: var(--ion-color-primary-contrast);

    ion-icon {
      position: absolute;
      right: 6px;
    }
  }

  ion-item-sliding {

    &:not(:last-child) {
      margin-bottom: .7rem;
    }
  }

  ion-item-option {
    transition: all .2s ease-in-out;
    
    &:first-child {
      &:focus,
      &:hover {
        --background: var(--ion-color-secondary-shade);
      }
    }

    &:last-child {
      &:focus,
      &:hover {
        --background: var(--ion-color-danger-shade);
      }
    }
  }

  &--cards {

    ion-card > img:first-of-type {
      width: 100%;
      height: 165px;
      object-fit: cover;
    }

    ion-card-subtitle::first-letter {
      text-transform: capitalize;
    }

    ion-item {
      --background: transparent;
      --inner-padding-end: 0;
      --padding-start: 0;
    }

    ion-avatar {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -111px;
      // bottom: 132px;
      width: 55px;
      height: 55px;
      padding: 13px;
      box-sizing: border-box;
      border-radius: 100%;
      background: var(--ion-color-primary-contrast);
    }
  }

  &--light {

    ion-item {
      background-color: var(--ion-color-primary-contrast);

      &:not(:last-child) {
        margin-bottom: .7rem;
      }
    }

    ion-label {
      text-overflow: unset !important;
      white-space: initial !important;
    }

  }
}

@media only screen and (min-width: 768px) {

  .c-list {
    &--columns {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(auto-fill, 49.2%);
      justify-content: space-between;
      grid-auto-rows: auto;
      grid-auto-flow: row dense;
      width: 100%;
      margin: 0; // 0 0 3.8rem
    
      ion-item-sliding {
        height: max-content;
        width: 100%;
        margin-bottom: 0 !important;
      }
    }

    &--light {
      ion-item:not(:last-child) {
        margin-bottom: 0;
      }
    }

    &--min-height {
      ion-item {
        --min-height: 112px;
      }
  
      ion-item-sliding {
        height: 112px;
      }
    }
  }
}

@media only screen and (min-width: 1025px) {

  .c-list {
    &--columns {
      grid-template-columns: repeat(auto-fill, 32.7%);
    }
  }

}