/*==========================================================================*\
  +++ Toast +++
/*==========================================================================*/

ion-toast {
  --color: var(--ion-color-primary-contrast);

  &.is-error {
    --background: var(--ion-color-danger-tint);
  }

  &.is-success {
    --background: var(--ion-color-success-tint);
  }
}