/*==========================================================================*\
  +++ Tags +++
/*==========================================================================*/

*:focus {
  outline: 0;
}

ion-content {
  --background: var(--ion-color-grey-medium);
}

ion-button {
    -webkit-appearance: none !important;
            appearance: none !important;

    &:not(:disabled) {
        cursor: pointer;
    }

    &:disabled {
        opacity: .5;           
    }
}

ion-title {
  font-weight: 600;
  color: var(--ion-color-primary-contrast);
}