<ion-grid class="o-grid">
  <form class="c-form" [formGroup]="createCategoryForm" (ngSubmit)="createCategory()">
    
    <!-- Title -->
    <ion-row>
      <ion-col class="c-form-group" [ngClass]="createCategoryForm.get('title').valid ? 'is-valid' : ''">
        <ion-label for="title" position="fixed">Title: <abbr title="Campo obligatorio">*</abbr></ion-label>
        <ion-input id="title" name="title" formControlName="title"></ion-input>
        <ion-icon name="checkmark-circle-outline" *ngIf="createCategoryForm.get('title').valid"></ion-icon>
      </ion-col>
    </ion-row>
    
    <!-- Description -->
    <ion-row>
      <ion-col class="c-form-group" [ngClass]="createCategoryForm.get('description').valid ? 'is-valid' : ''">
        <ion-label for="description" position="fixed">Description: <abbr title="Campo obligatorio">*</abbr></ion-label>
        <ion-input id="description" name="description" formControlName="description"></ion-input>
        <ion-icon name="checkmark-circle-outline" *ngIf="createCategoryForm.get('description').valid"></ion-icon>
      </ion-col>
    </ion-row>

    <!-- Type -->
    <ion-row>
      <ion-col class="c-form-group" [ngClass]="createCategoryForm.get('type').valid ? 'is-valid' : ''">
        <ion-label for="type" position="fixed">Type: <abbr title="Campo obligatorio">*</abbr></ion-label>
        <ion-input id="type" name="type" formControlName="type"></ion-input>
        <ion-icon name="checkmark-circle-outline" *ngIf="createCategoryForm.get('type').valid"></ion-icon>
      </ion-col>
    </ion-row>

    <!-- Image -->
    <ion-row>
      <ion-col class="c-form-group" [ngClass]="createCategoryForm.get('image').valid ? 'is-valid' : ''">
        <ion-label for="image" position="fixed">Image: <abbr title="Campo obligatorio">*</abbr></ion-label>
        <div class="c-form__dropzone">
          <ion-input id="image" type="file" name="image" formControlName="image" (change)="uploadFile($event)" accept=".jpg"></ion-input>
          <span>Drop files here <br>or <mark>Click to upload</mark></span>       
        </div>
        <div class="c-form__upload" *ngIf="uploadProgress | async as val">
          <ion-progress-bar [value]="val % 100"></ion-progress-bar>
          <ion-icon name="checkmark-circle-outline" *ngIf="createCategoryForm.get('image').valid && (uploadProgress | async)==100"></ion-icon>
        </div> 
        <img id="category-image" [src]="downloadURL | async" appImageFallback *ngIf="(uploadProgress | async)==100">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" [disabled]="createCategoryForm.invalid" title="New category" 
                    type="submit" class="ion-no-margin" *ngIf="isLoading === false">Create</ion-button>
        <ion-button expand="block" class="ion-no-margin  c-btn  c-btn--loading" *ngIf="isLoading === true" disabled>
          <ion-spinner name="crescent"></ion-spinner>
        </ion-button>
      </ion-col>
    </ion-row>

  </form> 
</ion-grid>