.c-form {

    &__file {
        height: 150px;
        position: relative;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        padding: 15px;
        box-sizing: border-box;
        margin-top: .3rem;
        border: 3px dashed #CCC;

        [type="file"] {
            opacity: 0;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
        }

        progress {
            height: 18px;

            &::-webkit-progress-bar {
              background-color: #CCC;
            }

            &::-webkit-progress-value {
              background-color: orange;
            }
        }

        samp {
            margin-left: 5px;
        }

        samp,
        span {
            font-size: .87rem;
            color: var(--ion-color-medium-shade);
        }

        span {
        }

        &--upload {
            display: flex;
            justify-content: center;
        }
    }

}

img {
    width: 100%;
    height: auto;

    + ion-icon {
        bottom: auto !important;
        top: 4px !important;
        right: 3px !important;
    }
}