/*==========================================================================*\
  +++ Font Face +++
/*==========================================================================*/

@font-face {
    font-family: 'RobotoRegular';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/roboto/Roboto-Regular.ttf');
  }
  
  @font-face {
    font-family: 'RobotoBold';
    font-style: normal;
    font-weight: bold;
    src: url('/assets/fonts/roboto/Roboto-Bold.ttf');
  }
  
 /* @font-face {
    font-family: 'My Custom Font';
    font-style: italic;
    font-weight: normal;
    src: url('/assets/fonts/roboto/robotoItalic.ttf');
  }
  
  @font-face {
    font-family: 'My Custom Font';
    font-style: italic;
    font-weight: bold;
    src: url('/assets/fonts/roboto/robotoBoldItalic.ttf');
  }*/